%div.sources_with_select.hidden
  %div{style: 'padding: 0 15px'}
    = select_tag 'source',
      options_for_select(TRANS_HEADLINE_SOURCE_TYPE),
      prompt: '请选择',
      class: 'trigger_search_form'

  = render 'admin/common/dp_sources'