.info_actions{
  .table_actions{
    a{
      margin-left: 5px;
    }
  }
}

.date_picker #info_date{
  width: 120px;
}

.type_info .ui-tabs-nav{
  li{
    a:link{
      color: royalblue;
    }
  }
}

#info_class_en{
  display: none;
}

.info_show_comments{
  position:relative;
  padding: 0 60px;
  a.btn-move-page {
    color: #666;
    border: 1px solid #ccc;
    padding: 5px 12px;
    outline: 0 !important;
    position:absolute;
    right:3px;
    display: block;
    width: 30px;
    text-align: center;
  }

  .views {
    padding-top: 20px;
    border-top: 1px solid snow;
    >span {
      margin-right: 10px;
    }
  }

  #comment {
    margin-top: 50px;
  }
}